/* Adds color to the paragraph text*/
p {
 color: deepskyblue;
}

/* Adds color to the headings*/
h1 {
    color: blueviolet;
    text-align: center;
}

/* Adds color to the sub headings*/
h2 {
    color: royalblue;
}

/* Changes the background color of the body*/
body {
    background-color: black;
}

/* Adds styles to the book table*/
table, tr, td, th {
    border: 2px violet solid;
    border-collapse: collapse;
}
th {
    width: 200px;
    background-color: gold;
}
tr:nth-child(odd) {
    background-color: coral;
}
tr:nth-child(even) {
    background-color: darksalmon;
}

/* Highlights the header*/
#pageTitle {
    background-color: aqua;
}

/* Adds a background color to the movie name*/
#movieName {
    background-color: indigo;
}

/* Adds a background color to the band name*/
#bandName {
    background-color: firebrick;
}

/* Changes the color of the unordered list*/
#listOfFood {
    color: white;
}

/* Adds a border and margin to the "blocks"*/
.favoriteSection {
    border: 2px white double;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Adds margin to images so they're spaced out*/
.favoriteImage {
    margin-right: 50px;
}

/* Changes color to the items in the Italics class*/
.Italics {
    color: darkturquoise;
}

/* Changes the color of the items in the Bold class*/
.Bold {
    color: lightblue;
}