.tabButton {
    background-color: darkcyan;
    border: none;
    padding: 10px;
    margin: 1px;
}

#tabs {
    background-color: dimgray;
    border: 5px solid dimgray;
}

.tabButton:hover {
    background-color: darkblue;
}

.tabButton:active {
    background-color: blueviolet;
}

.tabContent {
    border-left: 5px solid darkcyan;
    border-bottom: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
    padding: 10px;
}