/* changes the background color of the body*/
body {
    background-color: #2A1265FF;
    font-family: "Dosis", serif;
    font-weight: 400;
}

/* changes the form's text color to white for visibility*/
form {
    color: white;
}

/* changes the header*/
.header {
    background-color: #ffffff;
    color: #82008b;
}